th{
    padding: 2rem;
}

.last-transactions{
    float:right;
    margin-top: 1rem;
    margin-right: 7rem;
    width: 40%;
}

.last-transactions-title{
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}

