.chart{
    display: inline-block;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    height: auto;
    width: 50%;
    margin-left: 3rem;
    margin-top: 2rem;
    

}